*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Electrolize", sans-serif;
}
body{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;

}
img{
    display: block;
}
li{
    list-style: none;
}
h1, h2{
    margin-bottom: 20px;
}
a{
   text-decoration: none;
    color: black;
}
.list-of-projects :after{
    content: 'lalalala';
}
summary{
    list-style: none;
}

/*  --- HEADER --- */

header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.logo, h1{
    font-size: 1.5rem;
}
nav{
    align-content: center;
}
.nav-list{
    display: flex;
    gap: 30px;
    height: 20px;
}

.nav-list li a:hover{
    color: aqua;
    font-size: 1.5rem;
}
.nav-list li a{
    font-size: 1.25rem;
    font-weight: bold;
    transition: font-size 0.5s ease-in;

}
/*  --- ABOUT ME --- */

.about-me {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

}
picture img{
    width: 330px;

}
.about-me-cont{
    max-width: 530px;
    max-height: 500px
}


.about-me-cont p{
    margin-bottom: 20px;
}
/*  --- PROJECTS --- */
.projects{
    margin: 20px 0;
}
.projects-list details summary{
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}
.projects-list details summary:hover{
    color: aqua;
}
details{
    margin-bottom: 10px;
}

/*  --- SKILLS --- */
.skills-cont ul{
    display: flex;
    justify-content: space-between;
}
.skills-cont ul li i{
    font-size: 4rem;
}

/*  --- CONTACT --- */
.contact-cont{
    display: flex;
    justify-content: space-between;
}
.text-contact p{
    margin-bottom: 20px;
}
.text-contact h1{
    font-size: 2.6rem;
}
.text-contact ul li{
    margin-bottom: 20px;
}
.text-contact ul li a:hover{
    color: aqua;
}
.text-contact{
    max-width: 400px;
}
.form-contact{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input, textarea{
    text-decoration: none;
    background: #F7F7F7;
}
input::placeholder{
    color: #B2B2B2;

}
input{
    padding: 10px 10px;
    outline: none;
}

.input::after{
    margin-top: 5px;
    font-size: 0.8rem;
    content: 'Este campo es obligatorio';
    display: block;
    color:red
}
.inputs {
    width: 100%;
}
.hover:focus{
    outline: none;
    border: blue 1px solid;
}
.red-border{
    border: red 2px solid;
}
textarea{
    resize: none;
    overflow: auto;
    padding: 5px ;
    outline: none;

}

.submit{
    background: black;
    color: white;
    padding: 10px 100px;
    margin-top: auto;
    transition: background 0.4s ease-in-out;
}

.submit:hover{
    background: blue;
    cursor: pointer;
}
.error{
    display: none;
    color: red;
}

span{
   font-size: 0.8rem;
}




/*  --- FOOTER --- */

footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}